body {
    background: #CCCCCC
}

#banner {
    width: 2000px;
    height: 600px;
}

h1 {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #FF0000;
}

.itens{
    font-style: italic
}

.beneficios {
    background-color: #FFFFFF
}